<div class="main-container">
  <div class="header">Instaclone</div>
  <div class="content-container">
    <div class="instaClone">
      <h2>Instaclone</h2>
    </div>
    <input #resetEmail class="input-field" />

    <button (click)="onResetClick(resetEmail)" mat-button class="login-btn">
      Send link
    </button>

    <div class="one-in-row">OR</div>
    <div class="login-with-facebook" routerLink="/login">
      Login with Facebook
    </div>
    <span routerLink="/register" class="reset-password">Create new accout</span>
  </div>
</div>
