<div class="main-container">
  <div class="item-container" (click)="onReportClick()" *ngIf="!isYourPost">
    <p class="item-report item">Report</p>
  </div>
  <div class="item-container" (click)="onDeleteClick()" *ngIf="isYourPost">
    <p class="item-report item">Delete</p>
  </div>
  <div class="item-container" (click)="onMoveToPostClick()">
    <p class="item">Move to post</p>
  </div>
  <div class="item-container" (click)="onShareClick()">
    <p class="item">Share</p>
  </div>
  <div class="item-container" (click)="onCopyLinkClick()">
    <p class="item">Copy Link</p>
  </div>
  <div class="item-container" (click)="onBackClick()">
    <p class="item">Back</p>
  </div>
</div>
