.container-main-register {
  width: 100vw;
  height: 100vh;
  background-color: rgb(140, 140, 140);
  .container-content {
    padding: 15px;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.927);
    border: 1px solid black;
    position: relative;
    .login-register {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 100%;
      margin-bottom: 20px;
      h2 {
        margin: 0;
        width: 100px;
        height: auto;
        font-size: 30px;
      }
      .register-btn {
        width: 100px;
        height: 20px;
      }
    }
    .form-register {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }
    .submit-btn {
      position: absolute;
      bottom: 70px;
      right: 40px;
      width: 70px;
    }
    .back-btn {
      position: absolute;
      bottom: 70px;
      left: 40px;
      width: 70px;
    }
  }
}
label {
  font-weight: 500;
  font-size: 15px;
  margin: 7px 0 2px;
}
.error {
  color: red;
  font-size: 12px;
  margin: 3px 0 5px;
}
input {
  border-radius: 5px;
  background-color: white;
}
.input-error {
  border-color: red;
}
