<div class="main-container">
  <div class="content-container">
    <div class="instaClone">
      <h2>Instaclone</h2>
    </div>
    <h4>Register to browse phots and films of your friends</h4>
    <button mat-button class="login-btn" routerLink="/login">Log in</button>

    <div class="one-in-row">OR</div>
    <input #registerEmail class="input-field" placeholder="Email" />
    <input #registerName class="input-field" placeholder="Real Name" />
    <input #registerUsername class="input-field" placeholder="Username" />
    <input #registerPassword class="input-field" placeholder="Password" />

    <p>
      Osoby korzystające z naszej usługi mogły przesłać Twoje informacje
      kontaktowe do Instagramu. Dowiedz się więcej
    </p>
    <p>
      Rejestrując się, akceptujesz Regulamin. Informacje o tym, jak zbieramy,
      wykorzystujemy i udostępniamy Twoje dane, zawierają nasze Zasady dotyczące
      plików cookie. O wykorzystaniu plików cookie i podobnych technologii
      informują Zasady dotyczące plików cookie.
    </p>
    <button
      (click)="
        onRegisterClick(
          registerEmail,
          registerName,
          registerUsername,
          registerPassword
        )
      "
      mat-button
      class="login-btn"
    >
      Next
    </button>
  </div>
  <div class="register-container">
    REgister
    <button routerLink="/login">Login</button>
  </div>
  <div class="download-app">
    <span class="one-in-row">Download app</span>
    <button>Google Store</button>
    <button>Microsoft</button>
  </div>
  <div class="footer"></div>
</div>
