<div class="footer">
  <div class="icon-f" routerLink="/home">
    <button class="btn">
      <i class="fa-solid fa-house"></i>
    </button>
  </div>
  <div class="icon-f">
    <button class="btn">
      <i class="fa-regular fa-compass"></i>
    </button>
  </div>
  <div class="icon-f">
    <button (click)="onCreatePostClick()" class="btn">
      <i class="fa-regular fa-square-plus"></i>
    </button>
  </div>
  <div class="icon-f" routerLink="/inbox">
    <button class="btn">
      <i class="fa-regular fa-paper-plane"></i>
    </button>
  </div>
  <div class="icon-f" routerLink="/profile">
    <button class="btn">
      <div class="photo-container">
        <img class="profile-image" src="{{ currentUser?.profileImageUrl }}" />
      </div>
    </button>
  </div>
</div>
