<div class="container-main">
  <div class="header">
    <h2 class="instaclone" [matMenuTriggerFor]="menu">
      InstaClone <i class="fa-solid fa-angle-down"></i>
    </h2>
    <mat-menu #menu="matMenu" class="menu">
      <button mat-menu-item class="menu-btn">
        <span>Followed</span><i class="fa-solid fa-user-check"></i>
      </button>
      <button mat-menu-item class="menu-btn">
        <span>Favourites</span><i class="fa-regular fa-star"></i>
      </button>
    </mat-menu>

    <div class="icon">
      <button class="btn" routerLink="activity">
        <i class="fa-regular fa-heart"></i>
      </button>
    </div>
    <div [formGroup]="formGroup" class="form">
      <div class="search" appearance="legacy">
        <input
          placeholder="search"
          type="text"
          matInput
          [matAutocomplete]="auto"
          formControlName="username"
        />
      </div>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>

  <div class="relations">
    <!--<div class="relation">
      <i class="fa-regular fa-circle"></i>
      <span>autor</span>
    </div>
    <div class="relation">
      <i class="fa-regular fa-circle"></i>
      <span>autor</span>
    </div>

    <div class="relation">
      <i class="fa-regular fa-circle"></i>
      <span>autor</span>
    </div>
    <div class="relation">
      <i class="fa-regular fa-circle"></i>
      <span>autor</span>
    </div>-->
  </div>

  <div class="post-feed">
    <app-post *ngFor="let post of posts" [postData]="post"></app-post>
  </div>
  <app-footer></app-footer>
</div>
